<div>
  <img src="/assets/profile.jpeg" alt="Headshot of Justin Barias">
  <p>
    Hi, I'm <strong>Justin</strong>. I'm a Lead Software & AI Engineer at the Department of Employment and Workplace Relations.
    You can connect with me on <a href="https://www.linkedin.com/in/justin-barias-89ba6521/" target="_blank">LinkedIn</a>,
    email me at <a href="mailto:justinbarias@live.com">justinbarias@live.com</a>,
    or download my <a href="/assets/justinbarias-cv.pdf" target="_blank">resume</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
